# Python packages
streamlit==1.30.0
pandas==2.2.3
numpy==1.25.2
matplotlib==3.7.2
plotly==5.18.0
statsmodels==0.14.0
requests==2.32.2
bs4==0.0.2
spacy==3.8.5
nltk==3.9.1
gensim==4.3.3
scikit-learn==1.5.2
xgboost==2.1.4

# 🛠️ Manual steps after pip install:
# Run: python -m nltk.downloader stopwords
# Run: pip install https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
